/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
}

.clearfix:after { 
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row { /* from grid system */
    max-width: 1140px; 
    margin: 0 auto; /* automatically centered */
}

section {
    padding: 80px 0; 
}

/************* HEADINGS *************/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 220%;
    font-family: 'Pontano Sans', sans-serif;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    font-family: 'Bevan', sans-serif;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after { /* displays always after h2 */
    display: block;
    height: 2px;
    background-color: #64DD17;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #64DD17;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #64DD17;
    transition: border-bottom 0.2s, color 0.2s;
    
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited {
    background-color: #64DD17;
    border: 1px solid #64DD17;
    color: #fff;
    margin-right: 15px;
    box-shadow: 1px 1px 1px 0.5px rgba(36, 32, 32, 0.122);
}

.btn-ghost:link,
.btn-ghost:visited,{
    border: 1px solid #64DD17;
    color: #64DD17;;
}

.btn:hover,
.btn:active{
    background-color: #56be14
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #56be14;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #56be14;
    color: #fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../img/hero-scott-webb-22420-unsplash.jpg);
    background-size: cover; /* resize to entire container */
    background-position: center;
    height: 100vh; /* 1 vs is relitive to 1% of the height of the viewport */
    background-attachment: fixed;
}

.logo {
    height: 200px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.hero-text-box {
    text-align: right;
}

.hero-text-box span {
    font-family: 'Bevan', 'sans-serif';
    font-size: 120%;
    letter-spacing: 5px;
    display: inline-block;
    padding-top: 1.5px;
}
/*------------------ MAIN NAVI -------------------- */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    font-family: Bevan;
    text-transform: uppercase;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #88ff25;
}